@font-face {
    font-family: Montserrat;
    src: url('https://fonts.googleapis.com/css?family=Montserrat');
}

body {
    font-family: sans-serif;
}

.header {
    padding: 2%;
    text-align: center;
    background: #232F3E;
    color: white;
    font-size: medium;
}

.header > img {
    max-width: 7.5%;
}

div {
    margin-top: 10px;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.container {
    position: relative;
}

.column1 {
    float: left;
    width: 40%;
    text-align: right;
}

.column2 {
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    float: left;
    width: 35%;
    text-align: left;
}

.v-span {
    margin-top: 50px;
}

.smart-watch {
    width: 80%;
    height: 50%;
}

.text-block {
    position: absolute;
    bottom: 50%;
    right: 27.5%;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

/* Button */
.round-button {
    border-radius: 8px;
    margin-right: 10px;
    font-weight: bold;
}

.color-button {
    width: 60px;
    height: 40px;
}

.feature-button {
    width: fit-content;
    height: 40px;
}

.buy-button {
    width: 150px;
    height: 50px;
}

/* Colors */
.black {
    background-color: #23211f;
}

.blue {
    background-color: #565681;
} 

.pink {
    background-color: #e9c7be;
}

.purple {
    background-color: #8a5362;
}

.red {
    background-color: #ca3d22;
}

.orange {
    background-color: #ff9900;
}

